@import "tailwindcss";

.font-shokhrukh {
  font-family: "Audiowide", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text_style {
  @apply p-1.5
  text-white
  rounded-xl
  bg-[#4255A0];
}
a,
p,
img,
h1 {
  @apply z-10;
}
