@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.font-shokhrukh {
  font-family: "Audiowide", sans-serif;
}
a,
p,
img,
h1,
h3,
input,
textarea,
button {
  @apply z-10;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.text_style {
  @apply p-1.5 px-3 text-sm text-white rounded-xl bg-[#4255A0] hover:bg-[#5a6fc0] transition-colors;
}
.skills_box {
  @apply w-full h-16 rounded-xl bg-[#314068] p-5 text-white flex items-center border-l-4;
}
#canvas-main {
  z-index: 0;
}
